body {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: repeat(3, minmax(200px, auto));
    grid-gap: 10px;
}

button {
    max-width: 400px;
    height: 20px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titles {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.inputs {
    flex-direction: column;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.buttons {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.city {
    width: 210px;
}

div {
    margin-top: 10px;
}